*{
    margin:0;
    padding:0;
    font-size:16px;
}
@font-face {
    font-family: M-b;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: M-l;
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: M-sm;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

body{
  margin:0;
  padding:0;
  background: #191A1B;
  font-size:16px;
}
a{
  text-decoration: none;  
  outline:none;
  color:inherit;
}

.wrap{
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  max-width: 1350px;
  min-width: 1200px;
}

.container{
  width: 100%;
}

.container h1{
  color: #FFF;
  text-transform: uppercase;
  font-family: M-b;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/*Для устройств шириной до 480px*/
@media only screen and (max-width: 480px){
  *{
      font-size: 3vw;
  }
  body{
      font-size: 3vw;
      width:100%;
  }
  .wrap{
    min-width: 50px;
    max-width:480px;
    width:90%;
  }
  .container h1{
      font-size: 2.3rem;
  }
}

/*Для устройств шириной от 481px до 950px*/
@media only screen and (min-device-width: 481px) and (max-device-width: 950px) {
  *{
      font-size: 2vw;
  }
  body{
      font-size: 2vw;
      width:100%;
  }
  .wrap{
    min-width: 480px;
    max-width:950px;
    width:90%;
  }
  .container h1{
      font-size: 2.3rem;
  }
}

/*Для устройств шириной от 951px до 1350px*/

@media only screen and (min-device-width: 951px) and (max-device-width: 1350px) {
  *{
      font-size: 1vw;
  }
  body{
      font-size: 2vw;
      width:100%;
  }
  .wrap{
      min-width: 750px;
      max-width:1350px;
      width:80%;
  }
  .container h1{
      font-size: 2.3rem;
  }
}

.container-academic-block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap:2rem;
}

.academic-title{
    padding-top:9.375rem;
    padding-bottom: 3.75rem;
}

.academic-block{
    padding-bottom: 9.375rem;
}

.item-academic-block{
    display: flex;
    flex-wrap: wrap;
    width: 22.375rem;
    height: 10.5rem;
    padding:1.875rem 1.875rem;
    background: rgb(31, 33, 34);
    border-radius: 1.25rem;
    transition:all 200ms ease-in;
    border: 0.156rem solid rgb(31, 33, 34);
    align-content: space-between;
}

.empty{
    display: flex;
    flex-wrap: wrap;
    width: 22.375rem;
    height: 10.5rem;
    padding:1.875rem 1.875rem;
    border-radius: 1.25rem;
    transition:all 200ms ease-in;
    border: 0.156rem solid rgba(31, 33, 34, 0);
    align-content: space-between;
}

.text-icon{
    width: 100%;
}

.ic{
    transition: all 200ms ease-in;
}

#blue:hover{
    border:0.156rem solid rgb(89, 209, 255);
 }

#green:hover{
    border:0.156rem solid #70E765;
 }

#pink:hover{
    border:0.156rem solid #FF87B2;
 }
 
#purple:hover{
    border:0.156rem solid #B46FFF;
 }

.item-academic-block:hover .ic{
   transform:translateX(0.625rem);
}

.item-academic-block h2{
    font-family: M-b;
    font-size: 1.375rem;
    color: #ffff;
    line-height: 1.688rem;
    margin:1.875rem 0rem 0rem 0rem ;
    text-transform: uppercase;
}

.icon-block {
    width: 100%;
   display: flex;
   align-items: center;
   gap:1rem;
}

.icon-block a{
    text-decoration: none;
    color:#ffff;
    font-family: M-l;
    font-size: 1rem;
}